<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itinerary View</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/itinerary-view.css}">
</head>
<body>
<div class="app-frame">
    <div class="topbar">
        <a class="app-title-link" th:href="@{/home}">GlobalTrotter</a>
        <a class="icon-circle" th:href="@{/profile}" title="Profile"></a>
    </div>


    <div class="toolbar">
        <label class="sr-only" for="itinerary-search">Search this itinerary</label>
        <input class="field search-field" id="itinerary-search" type="text" placeholder="Search for .....">
        <button class="btn-outline" type="button">Group by</button>
        <button class="btn-outline" type="button">Filter</button>
        <button class="btn-outline" type="button">Sort by...</button>
    </div>

    <div class="itinerary-view-title">Itinerary for a selected place</div>

    <div class="columns-header">
        <span class="col-activity">Physical Activity</span>
        <span class="col-expense">Expense</span>
    </div>

    <div class="day-block" th:each="day : ${#numbers.sequence(1, 2)}">
        <div class="day-tag" th:text="'Day ' + ${day}"></div>
        <div class="day-activities">
            <div th:each="step, iter : ${#numbers.sequence(1, 3)}">
                <div class="activity-row">
                    <div class="activity-box" th:text="'Activity ' + ${step}"></div>
                    <div class="expense-box">&#8377;&nbsp;&mdash;</div>
                </div>
                <div class="arrow-down" th:unless="${iter.last}">&darr;</div>
            </div>
            <div class="day-total-row">Day total: <span class="amount">&#8377;&nbsp;&mdash;</span></div>
        </div>
    </div>

    <div class="itinerary-footer">
        <span>Trip total budget</span>
        <span class="total-amount">&#8377;&nbsp;&mdash;</span>
    </div>

    <div class="back-row">
        <a class="btn-outline" th:href="@{/trips/itinerary}">&larr; Back to Build Itinerary</a>
    </div>
</div>
<script th:src="@{/js/common.js}"></script>
</body>
</html>
